<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wulpix</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <img
        src="{{ url_for('static', filename='wulpix.png') }}"
        class="profile-image"
        alt="Wulpix Image"
      />
      <h1>Welcome to <span class="highlight">Wulpix</span>!</h1>
      <p>Hi, {{ username }}! Thank you for visiting.</p>
    </div>
  </body>
</html>
