<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wulpix</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to my website</h1>
      <form action="/welcome" method="post">
        <label for="username">Enter your name:</label><br />
        <input type="text" id="username" name="username" /><br /><br />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
